#recent-posts>.recent-post-item>.recent-post-info {
    padding: 32px
}

#recent-posts>.recent-post-item .recent-post-info .lastestpost {
    display: flex;
    color: var(--heo-lighttext);
    font-size: .5rem;
    position: relative;
    margin-top: -16px
}

#recent-posts>.recent-post-item .post_cover {
    background: var(--heo-secondbg);
    width: 45%
}

#recent-posts>.recent-post-item .right_radius {
    border-radius: 12px 0 0 12px
}

.recent-post-item .post_cover {
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(center, #fff, #000)
}

.top_post_group .todayCard {
    display: none
}

@media screen and (min-width:1300px) {
    #recent-posts>.recent-post-item .left {
        border-radius: 12px 12px 0 0;
        width: 100%;
        display: flex
    }

    #recent-posts>.recent-post-item .post_cover {
        transition: 1s !important;
        height: 225px;
        width: 100%
    }

    #recent-posts>.recent-post-item .left {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        width: 100%;
        display: flex
    }

    #recent-posts>.recent-post-item:hover .post_cover {
        transition: 1s !important;
        filter: brightness(.7)
    }

    #recent-posts>.recent-post-item:hover>.recent-post-info {
        width: 100%;
        transition: .4s
    }

    #recent-posts>.recent-post-item {
        flex-direction: column
    }
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap a {
    color: var(--heo-fontcolor)
}

#recent-post-top .recent-post-item .post_cover {
    width: 100%
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap i {
    margin: 0 .4rem 0 0
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap .sticky {
    color: var(--heo-fontcolor)
}

#recent-posts .recent-post-item {
    height: fit-content;
    background: var(--heo-card-bg);
    border-radius: 12px;
    cursor: pointer;
    border: var(--style-border);
    box-shadow: var(--heo-shadow-light2black);
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    align-items: center;
    transition: all .3s ease 0s
}

@media screen and (min-width:900px) {
    #recent-posts>.recent-post-item:hover .post_cover img.post_bg {
        transform: scale(1.03)
    }

    #recent-posts>.recent-post-item.post-card-large:hover .post_cover img.post_bg {
        transform: scale(1.03)
    }

    #recent-posts>.recent-post-item:hover>.recent-post-info {
        transition: all 1s;
        position: relative
    }

    #recent-posts>.recent-post-item>.recent-post-info {
        transition: all 1s
    }
}

#recent-posts>.recent-post-item>.recent-post-info {
    display: inline-block;
    overflow: hidden
}

#recent-posts>.recent-post-item {
    box-shadow: var(--heo-shadow-light2black);
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    align-items: center;
    transition: all .3s ease 0s
}

#recent-posts>.recent-post-item:not(:first-child) {
    margin-top: 1rem
}

#recent-posts>.recent-post-item:not(:first-child) {
    margin-top: .5rem;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden
}

#recent-posts .recent-post-item .post_cover.left {
    display: flex
}

@media screen and (min-width:1300px) {
    #recent-posts>.recent-post-item {
        width: calc(100% / 2 - .35rem);
        margin-bottom: .63rem;
        box-shadow: var(--heo-shadow-border)
    }

    #recent-posts>.recent-post-item:not(:first-child) {
        width: calc(100% / 2 - .5rem);
        margin-top: .25rem;
        margin-bottom: .75rem;
        box-shadow: var(--heo-shadow-border);
        clip-path: inset(0 0 0 0 round 12px)
    }

    #recent-posts>.recent-post-item:not(:first-child):active {
        transform: scale(.97)
    }

    #category-bar {
        margin-bottom: .25rem;
        box-shadow: var(--heo-shadow-border)
    }

    #recent-posts>.recent-post-item>.recent-post-info {
        width: 60%
    }

    #recent-posts>.recent-post-item:hover>.recent-post-info {
        width: 100%
    }

    #recent-posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        width: 80%
    }
}

@media screen and (max-width:768px) {
    #recent-posts>.recent-post-item {
        border-radius: 0
    }

    #recent-posts>.recent-post-item:not(:first-child) {
        margin: 1.5rem 1.22rem;
        margin-top: 0;
        border-radius: 12px;
        border: var(--style-border-always) !important;
        box-shadow: var(--heo-shadow-border);
        display: block;
        position: relative;
        clip-path: inset(0 0 0 0 round 12px)
    }

    #recent-posts .recent-post-item .post_cover {
        border-radius: 0 !important
    }
}

@media screen and (max-width:768px) {
    #recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap {
        bottom: .5rem !important
    }

    #recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap time {
        display: absolute;
        right: 0
    }

    #recent-posts>.recent-post-item .post_cover img.post_bg:hover {
        transform: scale(1)
    }

    #recent-posts>.recent-post-item:hover img.post_bg {
        transform: scale(1)
    }

    #recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap,
    #recent-posts>.recent-post-item>.recent-post-info>.article-title,
    #recent-posts>.recent-post-item>.recent-post-info>.content {
        padding: 0 20px !important
    }
}

#recent-posts>.recent-post-item>.recent-post-info>.article-title {
    line-height: 30px;
    margin-top: 0;
    font-weight: 700;
    color: var(--heo-fontcolor);
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 32px;
    transition: .3s;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical
}

#recent-posts>.recent-post-item>.recent-post-info>.article-title:hover {
    color: var(--heo-fontcolor)
}

@media screen and (min-width:768px) {
    #recent-posts>.recent-post-item.post-card-large:hover>.recent-post-info>.article-title {
        top: 30px
    }

    #recent-posts .recent-post-item:hover .recent-post-info .article-title {
        color: var(--heo-theme)
    }
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap>.post-meta-date {
    right: 0;
    text-align: right
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap>.post-meta-date i {
    display: none
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap .article-meta__separator {
    display: none
}

#recent-posts>div>i .post_cover {
    display: none
}

#recent-posts>.recent-post-item>.recent-post-info {
    height: 174px;
    width: 100%;
    cursor: pointer;
    position: relative
}

@media screen and (max-width:768px) {
    #recent-posts .recent-post-item .recent-post-info {
        height: 8.7rem;
        padding: 0
    }
}

.post-meta-date {
    margin-right: .5rem
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap {
    position: absolute;
    bottom: 10px;
    transition: .3s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    left: 0;
    padding: 0 32px;
    white-space: nowrap
}

@media screen and (min-width:768px) {
    #recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap {
        bottom: 30px
    }
}

@media screen and (min-width:900px) {
    #recent-posts>.recent-post-item.post-card-large:hover>.recent-post-info>.article-meta-wrap {
        bottom: 20px
    }
}

@media screen and (min-width:1300px) {
    #recent-posts>.recent-post-item.post-card-large:hover>.recent-post-info>.article-meta-wrap {
        bottom: 12px
    }
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap a:hover {
    background-color: var(--heo-post-blockquote-bg);
    color: var(--heo-hovertext)
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap a:hover {
    border-radius: 5px
}

#recent-posts>.recent-post-item .left a {
    min-height: 100%;
    min-width: 100%
}

#recent-posts>.recent-post-item>.recent-post-info>.content {
    line-height: 1.4;
    color: var(--heo-secondtext);
    margin-top: 6px;
    cursor: pointer;
    transition: .3s;
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 40px
}

@media screen and (min-width:768px) {
    #recent-posts>.recent-post-item>.recent-post-info>.content {
        opacity: 0;
        top: 120px
    }

    #recent-posts>.recent-post-item:hover>.recent-post-info>.content {
        opacity: 0;
        top: 90px
    }

    @media screen and (max-width:1300px) {
        #recent-posts>.post-card-large>.recent-post-info>.content {
            opacity: 1 !important
        }

        #recent-posts>.post-card-large:hover>.recent-post-info>.content {
            top: 110px
        }

        #recent-posts>.post-card-large>.recent-post-info>.content {
            -webkit-line-clamp: 3 !important
        }

        #recent-posts>.post-card-large:hover>.recent-post-info>.content {
            -webkit-line-clamp: 5 !important
        }

        #recent-posts>.post-card-large {
            height: 20em !important
        }
    }
}

@media screen and (max-width:768px) {
    #recent-posts>.recent-post-item>.recent-post-info>.content {
        top: 5rem
    }
}

#recent-posts>.recent-post-item>.recent-post-info>.content {
    -webkit-line-clamp: 2;
    display: none
}

.layout>div:first-child:not(.recent-posts):hover {
    box-shadow: var(--heo-shadow-border)
}

@media screen and (max-width:900px) {
    .layout>div:first-child:not(.recent-posts) {
        border-radius: 0;
        padding: 0 1rem !important;
        box-shadow: none
    }
}

#body-wrap.page #site-info {
    display: none
}

#body-wrap.page #scroll-down {
    display: none
}

#body-wrap.page #page-header {
    height: 60px;
    background-image: none !important
}

#page-header {
    background-color: var(--heo-none)
}

#page-header:not(.not-top-img):before {
    content: none
}

.blog-slider__img {
    padding: 0 !important;
    border-radius: 0 !important;
    width: 460px !important
}

.blog-slider__img img {
    border-radius: 0 !important
}

.blog-slider__title {
    transition: .3s !important
}

.blog-slider__title:hover {
    color: var(--heo-main-color);
    transition: .3s !important
}

#recent-posts>.recent-post-item>.recent-post-info>.article-title {
    font-size: 22px
}

#recent-posts>.recent-post-item>.recent-post-info>.article-title {
    -webkit-line-clamp: 2
}

.article-meta {
    margin: 0 8px 0 0;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis
}

.article-meta.newpost {
    margin-top: -16px;
    color: var(--heo-lighttext);
    font-size: .5rem;
    display: flex
}

.article-meta.newpost .meta-lastestpost {
    margin-right: 10px
}

.article-meta.newpost .article-meta-separator,
.article-meta.newpost i {
    display: none
}

.article-meta__tags {
    margin-right: 4px;
    padding: 0 .2rem 0 0
}

.article-meta__categories {
    position: absolute;
    padding: 2px 6px;
    background: var(--heo-black-op);
    border-radius: 8px;
    margin-top: 0;
    font-size: .5rem;
    font-weight: 700;
    color: var(--heo-white);
    top: 8px;
    left: 8px;
    backdrop-filter: saturate(180%) blur(20px)
}

.article-meta__categories:hover {
    background: var(--heo-theme);
    color: var(--heo-white);
    backdrop-filter: saturate(180%) blur(20px)
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap a:hover {
    text-decoration: none
}

#body-wrap.page .recent-post-info .article-meta-label {
    display: none
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap {
    margin: 0
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap .article-meta-separator {
    display: none
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap i {
    display: none
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap .article-meta-link {
    display: none
}

:root {
    --mj-white: #fff;
    --mj-card-bg: #fff;
    --mj-theme: #425AEF;
    --mj-main: #425AEF;
    --mj-secondbg: #ededed;
    --mj-card-border: #e3e8f7;
    --style-yidong: 0px solid var(--mj-card-border);
    --style-hover-border: 1px solid var(--mj-theme)
}

#home_top {
    max-width: 1500px;
    width: 100%;
    margin-top: .5rem;
    padding: 0 1.5rem;
    margin: auto
}

.home_top_group {
    border-radius: 12px;
    width: 100%;
    margin-bottom: -9px
}

.homeTopGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 1rem;
    padding-bottom: 10px;
    overflow-x: scroll;
    border-radius: 12px
}

.homeTopGroup::-webkit-scrollbar {
    display: none
}

.homeTopGroup #banner_group {
    display: flex
}

div#banners {
    display: none
}

#bber-talk {
    width: 100%;
    height: 25px;
    line-height: 25px
}

#bber-talk .li-style {
    width: 100%;
    height: 25px;
    text-align: center;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .3s
}

#bber-talk .li-style:hover {
    color: #49b1f5
}

#bber-talk ul,
li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0
}

#bbTimeList {
    background: var(--heo-none);
    color: var(--heo-fontcolor);
    margin-top: 1rem;
    padding: .5rem 1rem;
    border-radius: 12px;
    box-shadow: var(--heo-shadow-lightblack);
    border: var(--style-border);
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 50px;
    transition: .3s
}

#bbtalk {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#bbTimeList .icon-chuangyi {
    font-size: 1.6rem;
    margin-right: 1rem;
    transition: .3s
}

#bbTimeList .bber-gotobb {
    margin-left: 1rem;
    transition: .3s
}

#bbTimeList #bber-talk .li-style {
    font-weight: 700;
    transition: .3s
}

.banners-title {
    color: var(--heo-fontcolor)
}

[data-theme=dark] .top_post_group .top_post_item:hover .post_info .article-title {
    color: var(--heo-white) !important
}

@media screen and (min-width:1300px) {
    .homeTopGroup #banner_group {
        width: calc(100% - 600px - 2rem);
        margin-right: .5rem;
        height: calc(328px + .5rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

    .homeTopGroup {
        overflow-x: visible
    }

    #bbTimeList:hover {
        border: var(--style-border-hover);
        box-shadow: var(--heo-shadow-main)
    }

    #bbTimeList .icon-chuangyi:hover {
        color: var(--heo-main)
    }

    #bbTimeList #bber-talk .li-style:hover {
        color: var(--heo-main)
    }

    #bbTimeList .bber-gotobb:hover {
        color: var(--heo-main)
    }

    div#banners {
        display: flex;
        width: 100%;
        height: 76%;
        background: var(--heo-card-bg);
        margin-bottom: .7rem;
        margin-right: .5rem;
        border: var(--style-border);
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        box-shadow: var(--heo-shadow-border);
        flex-direction: column;
        transition: .3s;
        clip-path: inset(0 0 0 0 round 12px)
    }

    div#banners:hover {
        border: var(--style-hover-border)
    }

    .top_post_group .todayCard {
        position: absolute;
        width: calc(600px + 1rem);
        height: 100%;
        top: 0;
        left: 0;
        background: var(--card-bg);
        border-radius: 12px;
        margin-left: .5rem;
        overflow: hidden;
        transition: all .3s ease 0s;
        display: flex;
        cursor: pointer;
        pointer-events: all
    }

    .banners-title {
        top: 2.5rem;
        left: 1.8rem;
        position: absolute;
        display: flex;
        flex-direction: column
    }

    .banners-title-big {
        font-size: 36px;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 8px
    }

    .banners-title-small {
        font-size: 12px;
        line-height: 1;
        color: var(--heo-secondtext);
        margin-top: 8px;
        margin-bottom: .5rem
    }

    .top_post_group .todayCard .todayCard-info {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        z-index: 2;
        color: var(--heo-white);
        max-width: 60%;
        transition: all .3s ease 0s
    }

    .top_post_group .todayCard .todayCard-info .todayCard-tips {
        opacity: .8;
        font-size: .6rem
    }

    .top_post_group .todayCard .todayCard-info .todayCard-title {
        font-size: 28px;
        font-weight: 700;
        line-height: 36px
    }

    .top_post_group .todayCard .todayCard-cover {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .3s ease 0s
    }

    .top_post_group .banner-button-group {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        display: flex;
        transition: all .3s ease 0s
    }

    .top_post_group .banner-button {
        background: var(--heo-white-op);
        border-radius: 20px;
        color: var(--heo-white);
        display: flex;
        align-items: center;
        z-index: 1;
        transition: all .3s ease 0s;
        cursor: pointer;
        backdrop-filter: saturate(180%) blur(20px);
        height: 40px;
        width: 124px;
        justify-content: center
    }

    .top_post_group .banner-button:hover {
        background: var(--heo-theme);
        color: var(--heo-white)
    }

    .top_post_group .banner-button i {
        margin-right: 8px;
        font-size: 1.2rem
    }

    .top_post_group .todayCard::after {
        box-shadow: 0 -109px 133px -9px #201e1d inset;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0
    }

    .top_post_group .todayCard.hide {
        opacity: 0;
        pointer-events: none
    }

    .top_post_group .todayCard.hide .todayCard-info {
        bottom: 1rem;
        opacity: 0
    }

    .top_post_group .todayCard.hide .todayCard-cover {
        transform: scale(1.2)
    }

    .top_post_group .todayCard.hide .banner-button-group {
        bottom: 1rem
    }

    #banner-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: var(--heo-white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        border-radius: 12px;
        transition: .6s
    }

    .bannerText {
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 700
    }

    .banner-righticon {
        font-size: 4rem;
        opacity: .6;
        font-weight: 900
    }

    #banners:hover #banner-hover {
        opacity: 1;
        padding-left: 2rem;
        background: #4259efc9;
        backdrop-filter: blur(15px);
        transition: .3s;
        background-size: 200
    }

    .homeTopGroup .category_group {
        flex-direction: row !important
    }

    .homeTopGroup .category_item {
        width: calc(100% / 3 - .33rem);
        height: 100% !important;
        margin-right: .55rem
    }

    .homeTopGroup .category_item:nth-child(3) {
        margin-right: 0;
        display: flex !important
    }

    #banner-page {
        width: 100%;
        height: 100%;
        overflow-y: hidden
    }

    .top_post_group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        height: calc(328px + .5rem);
        align-content: space-between;
        width: calc(600px + 1.5rem)
    }
}

.homeTopGroup .category_group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px
}

.homeTopGroup .category_item {
    overflow: hidden;
    transform: scale(1);
    transition: .8s;
    height: 48%;
    border-radius: 12px;
    box-shadow: var(--heo-shadow-blue)
}

.homeTopGroup .category_item:nth-child(3) {
    display: none
}

.homeTopGroup .category_item a.category_button {
    height: 100%;
    width: 100%;
    background: var(--mj-card-bg);
    border-radius: 12px;
    display: inline-block;
    text-align: left;
    line-height: 5em;
    font-weight: 700;
    font-size: .9rem;
    color: var(--mj-white);
    transition: all .4s cubic-bezier(.39, .575, .565, 1);
    transform: scale(1);
    overflow: hidden;
    font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei
}

.category_button_text {
    padding-left: 25px;
    text-align: left;
    line-height: 2em;
    font-weight: 700;
    font-size: 1.12rem
}

a.category_button i {
    font-size: 5rem;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 20%;
    transition: .3s;
    width: 100px;
    text-align: center;
    filter: blur(2px)
}

.category_item:hover i {
    opacity: .8;
    transition: .8s;
    font-size: 3.3rem;
    filter: blur(0)
}

a.category_button:hover i {
    opacity: .8;
    transition: .8s;
    transition-delay: .15s
}

a.category_button:hover:after {
    width: 4.5rem;
    transition: .8s
}

.tags-group-all {
    display: flex;
    transform: rotate(-30deg)
}

.tags-group-wrapper {
    margin-top: 7rem;
    display: flex;
    flex-wrap: nowrap;
    animation: rowup 60s linear infinite
}

[data-theme=dark] img {
    filter: brightness(1)
}

.tags-group-icon img {
    width: 60%
}

@keyframes rowup {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-50%)
    }
}

.tags-group-icon-pair {
    margin-left: 1rem
}

.tags-group-icon {
    width: 120px;
    height: 120px;
    border-radius: 30px
}

.tags-group-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 66px;
    font-weight: 700;
    box-shadow: var(--heo-shadow-blackdeep)
}

.tags-group-icon-pair .tags-group-icon:nth-child(even) {
    margin-top: 1rem;
    transform: translate(-60px)
}

@media screen and (min-width:1300px) {
    .category_item:hover {
        width: calc(100% / 2 - .33rem);
        transition: .8s
    }

    .top_post_group .top_post_item:hover {
        border: var(--style-border-hover);
        box-shadow: var(--heo-shadow-main);
        transition: scale(1.03)
    }

    .top_post_group .top_post_item:hover {
        transition: .3s 0s;
        transform: scale(1.03, 1.03)
    }

    .top_post_group .top_post_item:hover span.recent-post-top-text {
        left: 0;
        transition: .3s
    }

    .top_post_group .top_post_item:hover .post_info a {
        color: var(--heo-theme) !important
    }

    #recent-posts .recent-post-item:hover {
        border: var(--style-border-hover);
        box-shadow: var(--heo-shadow-main)
    }

    #pagination a.extend.next:hover,
    #pagination a.extend.prev:hover {
        color: var(--heo-theme);
        border: var(--style-border-hover);
        box-shadow: var(--heo-shadow-main);
        background: var(--heo-card-bg);
        transform: scale(1.03)
    }
}

a.category_button:after {
    top: 50px;
    width: 1.3rem;
    left: 25px;
    height: 2px;
    background: var(--mj-white);
    content: "";
    border-radius: 1px;
    position: absolute;
    transition: .8s
}

@media screen and (max-width:768px) {
    #home_top {
        padding: 0 0;
        background: var(--heo-background)
    }

    .homeTopGroup .category_group {
        min-width: 130px !important;
        margin-bottom: .5rem;
        margin-left: 1.22rem;
        max-height: 164px;
        overflow: hidden;
        position: relative
    }

    .home_top_group {
        border-radius: 0
    }

    .top_post_group .top_post_item {
        border-radius: 0
    }

    #bbTimeList {
        margin-top: 0;
        border: none;
        margin-bottom: -10px;
        padding: .5rem 1.22rem
    }
}

.top_post_group {
    display: flex;
    position: relative
}

.top_post_group .top_post_item {
    display: flex;
    width: 200px;
    min-width: 200px;
    height: 164px;
    max-height: 164px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: .5rem;
    background: var(--heo-card-bg);
    border-radius: 12px;
    overflow: hidden;
    border: var(--style-border-always);
    position: relative;
    box-shadow: var(--heo-shadow-border);
    transition: .3s
}

.top_post_group .top_post_item .post_cover {
    width: 100%;
    height: 280px;
    position: relative;
    overflow: hidden
}

.top_post_group .top_post_item .post_cover img {
    object-fit: cover;
    width: 100%;
    height: 110px;
    background: var(--mj-secondbg);
    transition: .3s;
    transform: translateY(-5px)
}

.top_post_group .top_post_item .post_cover .post_cover_info {
    position: absolute;
    top: 0;
    width: 101%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, .7) !important;
    transition: all .3s ease;
    display: flex
}

.top_post_group .top_post_item .post_cover .post_cover_info .post_cover_text {
    color: #fff;
    padding: 12px 14px;
    font-size: 15px;
    font-weight: 400;
    margin: 20px 0;
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical
}

.post-meta-date {
    opacity: .6
}

.page #recent-posts .blog-slider {
    padding: 0 !important
}

.page .blog-slider__content {
    margin-top: -30px;
    cursor: pointer;
    position: relative;
    width: 60%
}

.page .blog-slider__title {
    font-size: 1.22rem
}

.page .blog-article-meta-wrap .blog-article-meta.tags .article-meta__tags {
    padding-left: 0;
    color: var(--heo-fontcolor);
    margin-right: 8px;
    font-size: 90%
}

.page .blog-article-meta-wrap .blog-article-meta.tags .article-meta__tags:hover {
    color: var(--heo-main-color)
}

.page .blog-article-meta-wrap {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    white-space: nowrap;
    padding: 0 50px;
    width: 100%;
    left: 0
}

.page .blog-article-meta.tags {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis
}

.page .blog-post-meta-date {
    cursor: default;
    right: 0;
    text-align: right
}

.page .blog-post-meta-date {
    opacity: .6
}

.top_post_group .top_post_item .post_info {
    padding: .4rem .6rem .4rem .6rem !important;
    transition: .3s;
    width: 100%;
    height: 100%
}

.top_post_group .top_post_item .post_info .article-title {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    padding-top: .5rem;
    font-weight: 700;
    font-size: 1rem !important;
    padding: 0 !important
}

span.recent-post-top-text {
    position: absolute;
    top: 0;
    left: -40px;
    display: flex;
    z-index: 1;
    background: var(--heo-theme);
    color: var(--heo-white);
    padding: 2px 8px;
    font-size: .6rem;
    border-radius: 0 0 12px 0;
    transition: .3s;
    cursor: pointer
}

.category_button.bikan {
    background: linear-gradient(to right, #358bff, #15c6ff) !important;
    background-size: 200% !important;
    transition: .6s !important
}

.category_button.bikan:hover {
    background-size: 100% !important;
    transition: .6s !important
}

[data-theme=dark] .category_button.bikan {
    background: linear-gradient(to right, #0653b8, #2fcbff) !important;
    background-size: 200%
}

.category_button.remen {
    background: linear-gradient(to right, #f65, #ffbf37) !important;
    background-size: 200% !important
}

.category_button.remen:hover {
    background-size: 100% !important;
    transition: .6 !important
}

[data-theme=dark] .category_button.remen {
    background: linear-gradient(to right, #e22a16, #da980c) !important;
    background-size: 200%
}

.category_button.shiyong {
    background: linear-gradient(to right, #18e7ae, #1eebeb) !important;
    background-size: 200% !important
}

.category_button.shiyong:hover {
    background-size: 100% !important;
    transition: .6s
}

[data-theme=dark] .category_button.shiyong {
    background: linear-gradient(to right, #099e74, #0ea4a4) !important;
    background-size: 200%
}

#pagination {
    width: 100%
}

#pagination .pagination {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10px
}

#pagination .page-number.current {
    background: var(--heo-theme) !important;
    border: var(--style-border-hover) !important;
    box-shadow: var(--heo-shadow-theme) !important
}

#pagination .page-number.current:hover {
    background: var(--heo-theme);
    color: var(--heo-white)
}

#pagination .page-number {
    box-shadow: var(--heo-shadow-border);
    border: var(--style-border)
}

a.extend.next {
    right: 0;
    margin: 0 !important
}

a.extend.prev {
    left: 0;
    margin: 0 !important
}

#pagination .page-number:hover {
    color: var(--heo-theme);
    border: var(--style-border-hover);
    box-shadow: var(--heo-shadow-main);
    background: var(--heo-card-bg);
    transform: scale(1.03)
}

@media screen and (min-width:768px) {

    #pagination a.extend.next,
    #pagination a.extend.prev {
        width: 4rem;
        box-shadow: var(--heo-shadow-border);
        position: absolute;
        border: var(--style-border);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        overflow: hidden
    }

    #pagination a.extend.next .pagination_tips_next {
        margin-left: -32px;
        transition: .3s;
        opacity: 0
    }

    #pagination a.extend.next:hover .pagination_tips_next {
        margin-left: 5px;
        transition: .3s;
        opacity: 1
    }

    #pagination a.extend.prev .pagination_tips_prev {
        margin-right: -32px;
        transition: .3s;
        opacity: 0
    }

    #pagination a.extend.prev:hover .pagination_tips_prev {
        margin-right: 5px;
        transition: .3s;
        opacity: 1
    }
}

@media screen and (max-width:768px) {
    #pagination .pagination .extend {
        width: 100%;
        height: 3.15rem;
        margin: .2rem 1.25rem 1rem 1.25rem !important;
        border-radius: 12px;
        line-height: 3.15rem;
        background: var(--heo-card-bg);
        border: var(--style-border-always);
        box-shadow: var(--heo-shadow-border)
    }

    #pagination .pagination .extend i {
        display: none
    }

    #pagination #textbtn,
    #pagination #textnumer,
    #pagination .page-number {
        display: none
    }
}

#pagination #textnumer {
    box-shadow: var(--heo-shadow-border);
    border: var(--style-border);
    margin: 0 6px;
    text-align: center;
    outline: 0;
    caret-color: #99a9bf;
    color: var(--heo-theme);
    background: var(--heo-card-bg)
}

#pagination #textnumer:hover {
    box-shadow: var(--heo-shadow-main);
    border: var(--style-border-hover);
    background: var(--heo-card-bg);
    text-align: center
}

#pagination #textbtn {
    box-shadow: var(--heo-shadow-border);
    border: var(--style-border);
    margin: 0 6px;
    width: 4rem;
    text-align: center;
    background: var(--heo-card-bg)
}

#pagination #textbtn:hover {
    box-shadow: var(--heo-shadow-main);
    border: var(--style-border-hover);
    background: var(--heo-card-bg);
    color: var(--heo-theme);
    cursor: pointer
}

@media screen and (max-width:768px) {
    #recent-posts .recent-post-item {
        height: auto !important;
        border: none !important
    }

    #recent-posts>.recent-post-item:not(:first-child) {
        overflow: inherit
    }

    .recent-post-item:hover {
        box-shadow: none !important
    }

    #recent-posts .recent-post-item .post_cover {
        border-radius: 0 !important;
        -webkit-box-ordinal-group: 1 !important;
        height: 200px;
        order: 1 !important
    }

    a.article-meta__categories {
        font-size: .7rem;
        left: 12px !important;
        top: 12px !important;
        border-radius: 4px !important;
        padding: 2px 9px !important
    }

    #recent-posts .recent-post-item .recent-post-info .article-title {
        font-size: 19px;
        -webkit-line-clamp: 2;
        margin-top: 20px
    }

    #recent-posts>.recent-post-item>.recent-post-info>.content {
        -webkit-line-clamp: 3;
        top: 5.7rem
    }

    a.category_button i {
        display: none
    }

    .page .layout#content-inner {
        background: var(--heo-background)
    }

    #swiper_container {
        display: none
    }

    #web_bg {
        background: 0 0 !important
    }

    #recent-posts.recent-posts #category-bar {
        padding: 1rem 1rem 1rem 1rem !important;
        border: none !important
    }

    .homeTopGroup .category_item a.category_button {
        border-radius: 8px
    }

    .top_post_group {
        margin-right: 1rem
    }

    .homeTopGroup .category_item {
        border-radius: 0;
        height: 47%;
        box-shadow: none
    }

    .homeTopGroup {
        border-radius: 0;
        padding-bottom: 5px
    }

    .top_post_group .top_post_item {
        border-radius: 8px;
        box-shadow: none
    }

    .category-bar-item.select a {
        background: var(--heo-theme) !important;
        color: var(--heo-white) !important;
        padding: .2rem .5rem;
        border-radius: 6px !important
    }

    #recent-posts>.recent-post-item .recent-post-info .lastestpost {
        display: none
    }
}

#anchor {
    width: 100%;
    height: 0;
    display: block;
    position: relative
}