#aside-content {
    width: 300px
}

#aside-content .card-info .card-info-data>.card-info-data-item {
    transition: .3s
}

#aside-content .card-widget .avatar-img {
    display: none
}

.card-allinfo .item-headline {
    display: none
}

@media screen and (min-width:900px) {
    #aside-content .sticky_layout {
        top: 60px
    }
}

@media screen and (min-width:768px) {
    #aside-content .sticky_layout {
        margin-top: 1rem
    }
}

@media screen and (min-width:1300px) {
    #aside-content .sticky_layout {
        margin-top: 1rem
    }
}

#aside-content .sticky_layout {
    top: 80px;
    transition: top 0s
}

#aside-content .sticky_layout .card-widget:first-child {
    margin-top: 0
}

#aside-content .card-widget:hover {
    box-shadow: var(--heo-shadow-border)
}

#aside-content #card-funds {
    margin-bottom: 1rem;
    min-height: 260px
}

#page-header.nav-visible+.layout>.aside-content>.sticky_layout {
    top: 80px
}

.card-widget.card-recent-post {
    padding: .4rem .6rem !important
}

#aside-content .aside-list>.aside-list-item .content>time {
    display: none
}

#aside-content .aside-list>.aside-list-item .content>.title {
    -webkit-line-clamp: 3;
    font-weight: 700;
    padding: 2px 0
}

#aside-content .aside-list>.aside-list-item {
    padding: 8px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    border-radius: 12px;
    transition: .3s;
    margin: 4px 0;
    cursor: pointer
}

@media screen and (min-width:1300px) {
    #aside-content .aside-list>.aside-list-item:hover {
        transform: scale(1.02)
    }

    #aside-content .aside-list>.aside-list-item:active {
        transform: scale(.97)
    }
}

#aside-content .aside-list>.aside-list-item:hover .thumbnail>img {
    transform: scale(1)
}

#aside-content .aside-list>.aside-list-item:not(:last-child) {
    border-bottom: 0 dashed var(--heo-background) !important
}

#aside-content .aside-list>.aside-list-item .thumbnail {
    border-radius: 8px;
    border: var(--style-border)
}

#aside-content .aside-list>.aside-list-item:hover {
    background: var(--heo-main);
    color: var(--heo-white);
    transition: .3s;
    box-shadow: var(--heo-shadow-main)
}

#aside-content .aside-list>.aside-list-item:hover a {
    color: var(--heo-white) !important
}

a.card-archive-list-link-more {
    color: var(--heo-white) !important;
    background: var(--heo-card-btn-bg);
    margin-top: 8px
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a {
    border-radius: 8px;
    margin: 4px 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border: var(--style-border)
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a span:first-child,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a span:first-child {
    width: auto
}

#aside-content .card-archives ul.card-archive-list,
#aside-content .card-categories ul.card-category-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap
}

@media screen and (min-width:1300px) {
    #aside-content {
        padding-left: 1rem
    }

    #aside-content .sticky_layout {
        top: calc(60px + .5rem)
    }

    #page-header.nav-visible+.layout>.aside-content>.sticky_layout {
        top: calc(60px + .5rem)
    }

    [data-theme=dark] #aside-content>.card-widget.card-info {
        background: var(--heo-main) !important
    }
}

#aside-content .card-widget#card-music {
    background: var(--heo-pink);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    cursor: pointer;
    border: none
}

#aside-content .card-widget#card-music img {
    max-height: 110px;
    object-fit: cover
}

#aside-content .card-widget#card-music:hover img {
    transform: scale(1.03);
    transition: .5s
}

#aside-content .card-widget#card-friendlinks {
    background: var(--heo-main);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    cursor: pointer;
    border: none
}

#aside-content .card-widget#card-friendlinks img {
    max-height: 110px;
    object-fit: cover
}

#aside-content .card-widget#card-friendlinks:hover img {
    transform: scale(1.03);
    transition: .5s
}

#aside-content .card-widget#card-wechat {
    background: #57bd6a;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    cursor: pointer;
    border: none
}

@media screen and (min-width:1300px) {
    #aside-content .card-widget#card-wechat:hover {
        transform: scale(1.02)
    }

    #aside-content .card-widget#card-wechat:active {
        transform: scale(.97)
    }
}

#aside-content .card-widget#card-wechat img {
    max-height: 110px;
    object-fit: cover
}

#aside-content .card-widget {
    box-shadow: var(--heo-shadow-border);
    background: var(--heo-card-bg);
    border: var(--style-border);
    transition: .3s
}

#aside-content #card-toc .toc-content .toc-link.active {
    line-height: 1.2;
    border-radius: 12px;
    border-left-color: var(--heo-hovertext);
    background-color: var(--heo-card-bg);
    color: var(--heo-lighttext);
    font-weight: 700;
    font-size: 20px;
    transition: all .2s ease-in-out
}

#aside-content #card-toc .toc-content .toc-item.active .toc-link {
    opacity: 1;
    border-radius: 8px;
    color: var(--heo-main-color)
}

#aside-content #card-toc .toc-content .toc-link {
    line-height: 1.2;
    padding: 8px;
    border-left: 0 solid transparent;
    border-radius: 12px;
    color: var(--heo-secondtext);
    cursor: default
}

#aside-content #card-toc .toc-content .toc-link:not(.active) span {
    opacity: .6;
    cursor: pointer;
    filter: blur(1px);
    transition: .3s
}

#aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
    filter: blur(0);
    opacity: 1
}

#aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
    color: var(--heo-lighttext)
}

#aside-content .card-tag-cloud a[href*="/tags/Sketch/"] {
    color: var(--heo-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E8%AE%BE%E8%AE%A1/"] {
    color: var(--heo-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E5%B9%B2%E8%B4%A7/"] {
    color: var(--heo-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a[href*="/tags/%E6%95%99%E7%A8%8B/"] {
    color: var(--heo-lighttext) !important;
    font-weight: 500
}

#aside-content .card-tag-cloud a sup {
    opacity: .4;
    margin-left: 2px
}

#aside-content .card-info .author-info__name {
    text-align: left;
    font-weight: 900;
    color: var(--heo-white)
}

#aside-content>.card-widget:first-child {
    transition: .3s;
    border: none;
    box-shadow: none;
    background: var(--heo-main)
}

@media screen and (min-width:1300px) {
    #aside-content>.card-widget.card-info {
        background: linear-gradient(-45deg, var(--heo-main-color), var(--heo-backnav-color));
        background-size: 400%;
        box-shadow: var(--heo-shadow-black);
        animation: gradient 15s ease infinite
    }

    @keyframes gradient {
        0% {
            background-position: 0 50%
        }

        50% {
            background-position: 100% 50%
        }

        100% {
            background-position: 0 50%
        }
    }
}

@media screen and (min-width:900px) {
    #aside-content>.card-widget:first-child {
        min-height: 329px
    }
}

#aside-content>div.card-widget.card-info>div>div.card-info-avatar.is-center>div.author-info__description {
    line-height: 1.38;
    margin: .3rem 0;
    text-align: justify;
    color: rgba(255, 255, 255, .8)
}

#aside-content>div.card-widget.card-info>div>div.card-info-avatar.is-center>div.author-info__description b {
    color: var(--heo-white)
}

#aside-content .card-info .card-info-data {
    display: none
}

#aside-content .card-info a img {
    border-radius: 0;
    height: 200px;
    display: inherit;
    filter: drop-shadow(-5px 14px 8px #00000008);
    position: absolute;
    right: 0;
    bottom: -60px;
    width: auto;
    z-index: 0;
    transition: cubic-bezier(.48, -.21, 0, 1.5) .3s
}

#aside-content .card-info a img:hover {
    bottom: -32px
}

[data-theme=light] #aside-content .card-info a img {
    filter: drop-shadow(-5px 14px 8px #ffffff08)
}

#aside-content>div.card-widget.card-info>div.card-content {
    padding: 1rem 1.2rem
}

#aside-content>div.card-widget.card-info>div.card-info-avatarimg {
    overflow: hidden;
    background: var(--heo-yellow);
    transition: 1.5s;
    min-height: 160px;
    position: relative;
    box-shadow: var(--heo-shadow-yellow)
}

#aside-content>div.card-widget.card-info>div.card-info-avatarimg:hover img {
    transform: scale(1.1)
}

#aside-content>div.card-widget.card-info>div>div.card-info-data>div:nth-child()>a>div.headline {
    font-weight: 700
}

@media screen and (max-width:900px) {
    #aside-content .card-announcement {
        display: none
    }

    #aside-content #card-funds {
        display: none
    }
}

#aside-content .card-info #card-info-btn {
    display: none
}

#aside-content .card-info .card-info-social-icons {
    margin: 0;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer
}

#aside-content .card-info .card-info-social-icons .social-icon {
    margin: 0;
    margin-right: 8px
}

#aside-content .card-info .card-info-social-icons i {
    background: var(--heo-white-op);
    color: var(--heo-white);
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 8px 11px;
    border-radius: 32px
}

#aside-content .card-info .card-info-social-icons i:hover {
    background: var(--heo-secondbg);
    transform: scale(.97);
    color: var(--heo-main);
    box-shadow: none
}

@media screen and (min-width:1300px) {
    #aside-content .card-info .card-info-social-icons i {
        color: var(--heo-white)
    }

    [data-theme=dark] #aside-content .card-info .card-info-social-icons i {
        color: var(--heo-white)
    }
}

#aside-content .card-info .card-info-data>.card-info-data-item:hover {
    background: var(--heo-post-blockquote-bg);
    transform: scale(.97)
}

#aside-content>div.card-widget.card-info>div.card-content>div.card-info-data>.card-info-data-item:hover>a>div.headline,
#aside-content>div.card-widget.card-info>div.card-content>div.card-info-data>.card-info-data-item:hover>a>div.length-num {
    color: var(--heo-blue)
}

#aside-content .item-headline {
    padding-bottom: 0;
    margin-left: 8px;
    font-size: 1em;
    font-weight: 700
}

#aside-content .item-headline i {
    min-width: 19.5px
}

#aside-content .item-headline+div,
#aside-content .item-headline+ul {
    padding: 0
}

#aside-content .card-widget {
    border-radius: 12px;
    transition: .3s
}

@media screen and (min-width:1300px) {
    #aside-content .card-widget {
        margin-top: .5rem
    }
}

@media screen and (max-width:769px) {
    #aside-content .card-widget {
        border-radius: 0
    }
}

#aside-content>div.sticky_layout>div.card-widget.card-archives>div>ul>li.card-archive-list-item.more.is-center {
    margin-top: 8px;
    background: var(--heo-card-btn-bg);
    border-radius: 8px;
    transition: .3s !important
}

#aside-content>div.sticky_layout>div.card-widget.card-archives>div>ul>li.card-archive-list-item.more.is-center :hover {
    color: var(--heo-white);
    background: var(--heo-blue);
    border-radius: 8px;
    transition: .3s !important
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item.more span,
#aside-content .card-categories ul.card-category-list>.card-category-list-item.more span {
    transition: .3s !important
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item:hover.more span,
#aside-content .card-categories ul.card-category-list>.card-category-list-item.more span {
    transition: .3s !important
}

#aside-content>div.sticky_layout>div.card-widget.card-archives>div>ul>li.card-archive-list-item.more.is-center :hover span {
    background: 0 0
}

#aside-content .card-tag-cloud a {
    color: var(--heo-fontcolor) !important;
    font-size: .8rem;
    border-radius: 8px;
    padding: 0 .5rem
}

#aside-content .card-tag-cloud a:hover {
    background: var(--heo-theme);
    color: var(--heo-white) !important;
    box-shadow: var(--heo-shadow-theme)
}

@media screen and (min-width:1300px) {
    #aside-content .card-tag-cloud a:hover {
        transform: scale(1.03);
        border-radius: 6px
    }

    #aside-content .card-tag-cloud a:active {
        transform: scale(.97)
    }
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
    color: var(--heo-white);
    background-color: var(--heo-theme);
    box-shadow: var(--heo-shadow-theme);
    border-radius: 8px;
    padding: .15rem .5rem;
    border: var(--style-border-hover)
}

@media screen and (min-width:1300px) {

    #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,
    #aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
        transform: scale(1.03)
    }

    #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:active,
    #aside-content .card-categories ul.card-category-list>.card-category-list-item a:active {
        transform: scale(.97)
    }
}

#aside-content #card-toc .toc-content:before {
    display: none
}

#aside-content .card-info .author-info__description1 {
    line-height: 1.38;
    margin: 1rem 0 .4rem 0;
    text-align: justify;
    color: rgba(255, 255, 255, .8)
}

#aside-content .card-info .author-info__description1 b {
    font-weight: bolder;
    color: var(--heo-white)
}

#aside-content .card-info .author-info__description2 {
    line-height: 1.38;
    margin: .4rem 0;
    text-align: justify;
    width: 56%;
    color: rgba(255, 255, 255, .8)
}

#aside-content .card-info .author-info__description2 b {
    font-weight: bolder;
    color: var(--heo-white)
}

.card-allinfo hr {
    margin: 1rem 0;
    border: 1px dashed var(--heo-theme-op)
}

hr:before {
    content: none
}

li.card-archive-list-item {
    width: 100%;
    flex: 0 0 48%
}

.card-archive-list-link:hover {
    padding: 3px 10px !important
}

.card-archive-list-count-group {
    display: flex;
    flex-direction: row;
    align-items: baseline
}

.card-archive-list-date {
    font-size: 14px;
    opacity: .6
}

span.card-archive-list-count {
    text-align: left;
    font-size: 1.3rem;
    line-height: .9;
    font-weight: 700
}

.card-archive-list-count-unit {
    width: 69%;
    font-size: 14px;
    font-weight: 700
}

#card-toc {
    padding: .5rem .5rem !important
}

#aside-content #card-toc .toc-percentage {
    display: none
}

#aside-content #card-toc .toc-content {
    overflow-y: initial;
    margin: 0
}

#aside-content #card-toc .toc-content ol {
    margin: 0 !important
}

#aside-content #card-toc .toc-content .toc-link:hover {
    color: var(--heo-main-color) !important
}

#aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
    color: var(--heo-main-color) !important
}

#aside-content #card-toc .toc-content:not(.is-expand) .toc-item.active .toc-child {
    border: none
}

#aside-content .aside-list>.aside-list-item:hover {
    background: var(--heo-main-color)
}

.webinfo-item-title {
    display: flex
}

.webinfo-item-title i {
    line-height: 2;
    margin-right: 6px;
    width: 16px;
    text-align: center
}

div#author-info__sayhi {
    text-align: left;
    color: var(--heo-white);
    background: var(--heo-white-op);
    font-size: 12px;
    margin-right: auto;
    padding: 2px 8px;
    border-radius: 12px;
    width: fit-content
}





@media screen and (max-width:860px) {

    

    #aside-content {
        font-size: 13px
    }

    #aside-content .card-widget.card-info {
        display: none
    }

    #aside-content .sticky_layout .card-widget.card-recent-post {
        display: none
    }

    #aside-content .sticky_layout .card-widget.card-categories {
        display: none
    }

    #aside-content .sticky_layout .card-widget.card-tags {
        display: none
    }

    #aside-content .sticky_layout .card-widget.card-archives {
        display: none
    }

    #aside-content .sticky_layout .card-widget.card-webinfo {
        display: none
    }

    #recent-posts>.recent-post-item .post_cover {
        width: 100%;
        transition: .5s
    }

    #recent-posts>.recent-post-item:hover .post_cover {
        width: 100%;
        transition: .5s .8s
    }

    #sidebar #sidebar-menus .sidebar-site-data::before {
        content: none
    }

    #sidebar #sidebar-menus .avatar-img::before {
        content: none
    }

    #sidebar #sidebar-menus .avatar-img::after {
        content: '1234234';
        width: 100%;
        height: 270px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #1fc7b6;
        color: #1fc7b6;
        z-index: 88
    }

    #sidebar #sidebar-menus div.avatar-img {
        position: static
    }

    #sidebar #sidebar-menus div.avatar-img img {
        position: relative;
        z-index: 89;
        border: 5px rgba(255, 255%, 255%, 40%) solid;
        border-radius: 18px
    }

    #sidebar #sidebar-menus .sidebar-site-data {
        padding: 10px 10px;
        position: relative;
        z-index: 90
    }

    #sidebar #sidebar-menus .sidebar-site-data>a {
        background-color: #4cd2c5;
        border-radius: 10px
    }

    #sidebar #sidebar-menus .sidebar-site-data>a:hover {
        background-color: #fff
    }

    #sidebar #sidebar-menus .sidebar-site-data>a:hover div {
        color: #1fc7b6 !important
    }

    #sidebar #sidebar-menus hr {
        margin-top: 30px
    }

    #sidebar #sidebar-menus .menus_items .site-page:hover {
        background-color: #1fc7b6;
        border-radius: 10px;
        color: #fff
    }
}

#pagination .page-number.current {
    background: rgb(0, 119, 255);
    color: var(--white);
    cursor: default;
    border-radius: 7px;
  }